version: '3.8'

services:
  # 백엔드 서비스 (Spring Boot)
  backend:
    # build 경로를 새 폴더 주소로 변경합니다.
    build: ./smartfarm-backend
    ports:
      - "8080:8080"
    environment:
      # application.properties의 기본값을 아래 값들로 덮어씁니다.
      - spring.datasource.url=${DB_URL}
      - spring.datasource.username=${DB_USER}
      - spring.datasource.password=${DB_PASS}
      - mqtt.broker.url=${MQTT_URL}
      - mqtt.username=${MQTT_USER}
      - mqtt.password=${MQTT_PASS}
      - mqtt.client.id=${MQTT_CLIENTID}
    depends_on:
      - db

  # 프론트엔드 서비스 (React)
  frontend:
    # build 경로를 새 폴더 주소로 변경합니다.
    build: ./smartfarm-frontend  # <-- 수정된 부분
    ports:
      - "3000:80"

